# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Distribution / packaging
*.egg-info/
*.egg
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/
*.pyc

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store

# Project-specific
src/blurtool.egg-info/
src/blurtool/__pycache__/
